{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block banner %}
    <!-- banner -->
		<div class="main-banner-2">

		</div>
		<!-- //banner -->
	</div>
		<!-- page details -->
	<div class="breadcrumb-agile py-1">
		<ol class="breadcrumb m-0">
			<li class="breadcrumb-item">
				<a href="{% url 'index' %}">Home</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Prendre Un Rendez-Vous</li>
		</ol>
	</div>
	<!-- //page details -->
	
{% endblock banner %}
{% block content %}
<!-- Page Content -->
			<div class="content" style="transform: none; min-height: 194.25px;">
				<div class="container-fluid" style="transform: none;">

					<div class="row" style="transform: none;">
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
							
							<!-- Profile Sidebar -->
							
							<!-- /Profile Sidebar -->
							
						<div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; top: 0px; left: 30px;"><div class="profile-sidebar">
								<div class="widget-profile pro-widget-content">
									<div class="profile-info-widget">
										<a href="#" class="booking-doc-img">
											<img src="admin%20dashboard_fichiers/doctor-thumb-02.jpg" alt="User Image">
										</a>
										<div class="profile-det-info">
											<h3>Dr. Darren Elder</h3>
											
											<div class="patient-details">
												<h5 class="mb-0">BDS, MDS - Oral &amp; Maxillofacial Surgery</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="dashboard-widget">
									<nav class="dashboard-menu">
										<ul>
											<li class="active">
												<a href="https://dreamguys.co.in/demo/doccure/template/doctor-dashboard.html">
													<i class="fas fa-columns"></i>
													<span>Dashboard</span>
												</a>
											</li>
											<li>
												<a href="https://dreamguys.co.in/demo/doccure/template/appointments.html">
													<i class="fas fa-calendar-check"></i>
													<span>Appointments</span>
												</a>
											</li>
											<li>
												<a href="https://dreamguys.co.in/demo/doccure/template/my-patients.html">
													<i class="fas fa-user-injured"></i>
													<span>My Patients</span>
												</a>
											</li>
											<li>
												<a href="https://dreamguys.co.in/demo/doccure/template/schedule-timings.html">
													<i class="fas fa-hourglass-start"></i>
													<span>Schedule Timings</span>
												</a>
											</li>
											<li>
												<a href="https://dreamguys.co.in/demo/doccure/template/invoices.html">
													<i class="fas fa-file-invoice"></i>
													<span>Invoices</span>
												</a>
											</li>
											<li>
												<a href="https://dreamguys.co.in/demo/doccure/template/reviews.html">
													<i class="fas fa-star"></i>
													<span>Reviews</span>
												</a>
											</li>
											<li>
												<a href="https://dreamguys.co.in/demo/doccure/template/chat-doctor.html">
													<i class="fas fa-comments"></i>
													<span>Message</span>
													<small class="unread-msg">23</small>
												</a>
											</li>
											<li>
												<a href="https://dreamguys.co.in/demo/doccure/template/doctor-profile-settings.html">
													<i class="fas fa-user-cog"></i>
													<span>Profile Settings</span>
												</a>
											</li>
											<li>
												<a href="https://dreamguys.co.in/demo/doccure/template/social-media.html">
													<i class="fas fa-share-alt"></i>
													<span>Social Media</span>
												</a>
											</li>
											<li>
												<a href="https://dreamguys.co.in/demo/doccure/template/doctor-change-password.html">
													<i class="fas fa-lock"></i>
													<span>Change Password</span>
												</a>
											</li>
											<li>
												<a href="https://dreamguys.co.in/demo/doccure/template/index.html">
													<i class="fas fa-sign-out-alt"></i>
													<span>Logout</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div><div class="resize-sensor" style="position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden;"><div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 340px; height: 876px;"></div></div><div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div></div></div></div></div>
						
						<div class="col-md-7 col-lg-8 col-xl-9">

							<div class="row">
								<div class="col-md-12">
									<div class="card dash-card">
										<div class="card-body">
											<div class="row">
												<div class="col-md-12 col-lg-4">
													<div class="dash-widget dct-border-rht">
														<div class="circle-bar circle-bar1">
															<div class="circle-graph1" data-percent="75"><canvas width="400" height="400"></canvas>
																<img src="admin%20dashboard_fichiers/icon-01.png" class="img-fluid" alt="patient">
															</div>
														</div>
														<div class="dash-widget-info">
															<h6>Total Patient</h6>
															<h3>1500</h3>
															<p class="text-muted">Till Today</p>
														</div>
													</div>
												</div>
												
												<div class="col-md-12 col-lg-4">
													<div class="dash-widget dct-border-rht">
														<div class="circle-bar circle-bar2">
															<div class="circle-graph2" data-percent="65"><canvas width="400" height="400"></canvas>
																<img src="admin%20dashboard_fichiers/icon-02.png" class="img-fluid" alt="Patient">
															</div>
														</div>
														<div class="dash-widget-info">
															<h6>Today Patient</h6>
															<h3>160</h3>
															<p class="text-muted">06, Nov 2019</p>
														</div>
													</div>
												</div>
												
												<div class="col-md-12 col-lg-4">
													<div class="dash-widget">
														<div class="circle-bar circle-bar3">
															<div class="circle-graph3" data-percent="50"><canvas width="400" height="400"></canvas>
																<img src="admin%20dashboard_fichiers/icon-03.png" class="img-fluid" alt="Patient">
															</div>
														</div>
														<div class="dash-widget-info">
															<h6>Appoinments</h6>
															<h3>85</h3>
															<p class="text-muted">06, Apr 2019</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-12">
									<h4 class="mb-4">Calendrier Des Rendez-Vous</h4>
									<div class="appointment-tab">
									
										<!-- Appointment Tab -->
										<ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded">
											<li class="nav-item">
												<a class="nav-link active" href="#upcoming-appointments" data-toggle="tab">Rendez-Vous</a>
											</li>
										</ul>
										<!-- /Appointment Tab -->
										
										<div class="tab-content">
										
											<!-- Upcoming Appointment Tab -->
											<div class="tab-pane show active" id="upcoming-appointments">
												<div class="card card-table mb-0">
													<div class="card-body">
														<div class="table-responsive">
															<div id="calendar" class="fc fc-unthemed fc-ltr">
										<div class="fc-toolbar fc-header-toolbar">
											<div class="fc-left">
												<div class="fc-button-group">
													<button type="button" class="fc-prev-button fc-button fc-state-default fc-corner-left">
														<span class="fc-icon fc-icon-left-single-arrow"></span>
													</button>
													<button type="button" class="fc-next-button fc-button fc-state-default fc-corner-right">
														<span class="fc-icon fc-icon-right-single-arrow"></span>
													</button>
												</div>
												<button type="button" class="fc-today-button fc-button fc-state-default fc-corner-left fc-corner-right fc-state-disabled" disabled="disabled">today</button>
											</div>
											<div class="fc-right">
											<div class="fc-button-group">
												<button type="button" class="fc-month-button fc-button fc-state-default fc-corner-left fc-state-active">month</button>
												<button type="button" class="fc-agendaWeek-button fc-button fc-state-default">week</button>
												<button type="button" class="fc-agendaDay-button fc-button fc-state-default fc-corner-right">day</button>
											</div>
											</div>
											<div class="fc-center">
												<h2>May 2020</h2>
											</div>
											<div class="fc-clear">
											</div>
										</div>
										<div class="fc-view-container" style="">
											<div class="fc-view fc-month-view fc-basic-view" style="">
												<table>
													<thead class="fc-head">
														<tr>
															<td class="fc-head-container fc-widget-header">
																<div class="fc-row fc-widget-header">
																	<table>
																		<thead>
																			<tr>
																				<th class="fc-day-header fc-widget-header fc-sun">
																					<span>Lun</span>
																				</th>
																				<th class="fc-day-header fc-widget-header fc-mon">
																					<span>Mar</span>
																				</th>
																				<th class="fc-day-header fc-widget-header fc-tue">
																					<span>Mer</span>
																				</th>
																				<th class="fc-day-header fc-widget-header fc-wed">
																					<span>Jeu</span>
																				</th>
																				<th class="fc-day-header fc-widget-header fc-thu">
																					<span>Ven</span>
																				</th>
																				<th class="fc-day-header fc-widget-header fc-fri">
																					<span>Sam</span>
																				</th>
																				<th class="fc-day-header fc-widget-header fc-sat">
																					<span>Dim</span>
																				</th>
																			</tr>
																		</thead>
																	</table>
																</div>
															</td>
														</tr>
													</thead>
													{{calendar}}
												
												</table>
											</div>
										</div>
						<!-- /Calendar -->
						
									</div>
		
														</div>
													</div>
												</div>
											</div>
											<!-- /Upcoming Appointment Tab -->
									   

											
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>

			</div>		
			<!-- /Page Content -->
   
			<!-- Footer -->
			<footer class="footer">
				
	
		   
		</div>
		<!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="admin%20dashboard_fichiers/jquery.js"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="admin%20dashboard_fichiers/popper.js"></script>
		<script src="admin%20dashboard_fichiers/bootstrap.js"></script>
		
		<!-- Sticky Sidebar JS -->
        <script src="admin%20dashboard_fichiers/ResizeSensor.js"></script>
        <script src="admin%20dashboard_fichiers/theia-sticky-sidebar.js"></script>
		
		<!-- Circle Progress JS -->
		<script src="admin%20dashboard_fichiers/circle-progress.js"></script>
		
		<!-- Custom JS -->
		<script src="admin%20dashboard_fichiers/script.js"></script><div class="sidebar-overlay"></div>
		


{% endblock content %}