{% extends 'base.html' %}

{% block banner %}
    <!-- banner -->
		<div class="main-banner-2">

		</div>
		<!-- //banner -->
	</div>
		<!-- page details -->
	<div class="breadcrumb-agile py-1">
		<ol class="breadcrumb m-0">
			<li class="breadcrumb-item">
				<a href="{% url 'index' %}">Home</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Materiel</li>
    </ol>
    <!--Search-->
  </div>
  
	<!-- //page details -->
{% endblock banner %}

{% block content %}
<div class="main-wrapper" style="transform: none;">
<!-- Page Content -->
			<div class="content" style="transform: none; min-height: 194.25px;">
				<div class="container" style="transform: none;">
				
					<div class="row" style="transform: none;">
						<div class="col-lg-8 col-md-12">
						
							<div class="row blog-grid-row">
							{% for i in list_materiel %}
								<div class="col-md-6 col-sm-12">
								
                  
									<!-- Blog Post -->
									<div class="blog grid-blog">
										<div class="blog-image">
											<a href="{{ i.get_absolute_url }}"><img class="img-fluid" src="{% if i.image %}
                {{ i.image.url }}
              {% endif %}" alt="Materiel Image"></a>
										</div>
										<div class="blog-content">
											<ul class="entry-meta meta-item">
												<li><i class="fa fa-clock"></i> {{i.date_ajout.date}}</li>
											</ul>
											<h3 class="blog-title"><a href="{{ i.get_absolute_url }}">{{i.title}}</a></h3>
											<p class="mb-0">{{i.description | truncatewords:10 | striptags | safe }}</p>
										</div>
									</div>
									<!-- /Blog Post -->
                  
									
								</div>
								{% endfor %}
							</div>
							
							<!-- Blog Pagination -->
              {% include 'Materiel/pagination.html'%}
							
							
						</div>
						
						<!-- Blog Sidebar -->
						<div class="col-lg-4 col-md-12 sidebar-right theiaStickySidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">

							<!-- Search -->
							
							<!-- /Search -->

							<!-- Latest Posts -->
							
							<!-- /Latest Posts -->

							<!-- Categories -->
							
							<!-- /Categories -->

							<!-- Tags -->
							
							<!-- /Tags -->
							
							<div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; top: 0px; left: 879.5px;"><div class="card search-widget">
								<div class="card-body">
									<form class="search-form" action="{% url 'Materiel:search' %}">
										<div class="input-group">
											<input type="text" placeholder="Chercher un matériel..." class="form-control" name="q" value="{{request.GET.q}}">
											<div class="input-group-append">
												<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="card category-widget">
								<div class="card-header">
									<h4 class="card-title">Catégorie Matériel</h4>
								</div>
								<div class="card-body">
									<ul class="categories">
                  						{% for i in categories %}
										<li><a href="{{ i.get_absolute_url }}">{{ i.categorie_name }}<span>({{i.total}})</a></li>
                 						 {% endfor %}
									</ul>
								</div>
							</div>

							<div class="card post-widget">
								<div class="card-header">
									<h4 class="card-title">Latest Posts</h4>
								</div>
								<div class="card-body">
									<ul class="latest-posts">
										{% for article in articles%}
                    					<li>
											<div class="post-thumb">
												<a href="{{ article.get_absolute_url }}">
													<img class="img-fluid" src="{{ article.image.url }}" alt="">
												</a>
											</div>
											<div class="post-info">
												<h4>
													<a href="{{ article.get_absolute_url }}">{{article.title |title }}</a>
												</h4>
												<p>{{article.date}}</p>
											</div>
										</li>
										{%endfor%}
									</ul>
								</div>
							</div>
              <div class="resize-sensor" style="position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden;"><div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 390px; height: 2212px;"></div></div><div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div></div></div></div></div>
						<!-- /Blog Sidebar -->
						
					</div>
				</div>
			</div>	
			<!-- /Page Content -->
   
			<!-- Footer -->
			 
		</div>
		<!-- /Main Wrapper -->
	  

		
	

{% endblock content %}

