{% load staticfiles %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ form.media }}            {# Adds date-picker required JS and CSS #}


<!DOCTYPE html>
<html lang="en">
<head>
	<title>Laser Medical Gammarth</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Be Clinic Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}

		if ($(window).width() > 992) {
		$(window).scroll(function(){  
			if ($(this).scrollTop() > 200) {
				$('#navbar_top').addClass("fixed-top");
				$('#navbar_top').addClass("bg-dark");
				$('#navbar_top').addClass("pl-5");
				$('#navbar_top').addClass("pr-5");
				// add padding top to show content behind navbar
				$('body').css('padding-top', $('.navbar').outerHeight() + 'px');
			}else{
				$('#navbar_top').removeClass("fixed-top");
				$('#navbar_top').removeClass("bg-dark");
				$('#navbar_top').addClass("pl-5");
				$('#navbar_top').addClass("pr-5");
				// remove padding top from body
				$('body').css('padding-top', '0');
			}   
		});
		}
	</script>
	<!--// Meta tag Keywords -->
	{% block css %}{% endblock css %}
	{% block extra_js %}{% endblock extra_js %}
	<!-- Custom-Files -->
	<script src="https://kit.fontawesome.com/cbeb7457c0.js" crossorigin="anonymous"></script>
	<!-- Bootstrap-Core-CSS -->
	<link href="{% static 'css/css_slider.css' %}" type="text/css" rel="stylesheet" media="all">
	<!-- banner slider -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'css/calendar.css' %}" type="text/css" media="all" />

	<link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css" media="all" />
	<!--<link rel="stylesheet" href="{% static 'css/style-starter.css' %}" type="text/css" media="all">-->
	<link rel="stylesheet" href="{% static 'css/appointment.css' %}" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/profile2.css' %}" rel="stylesheet">
	<link href="{% static 'css/style_2.css' %}" rel="stylesheet">
	<link href="{% static 'css/login.css' %}" rel="stylesheet">
	
	<!-- Font-Awesome-Icons-CSS -->
	<link href="{% static 'css/fontawesome.css' %}" rel="stylesheet">
	<!-- //Custom-Files -->
	<link href="{% static 'js/custom.js' %}" rel="stylesheet">
	
	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800&amp;subset=devanagari,latin-ext" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Playfair+Display:400,400i,700&display=swap" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Montserrat:300,300i,400,600,700,800&display=swap" rel="stylesheet">
	<!-- //Web-Fonts -->
	<style id="theia-sticky-sidebar-stylesheet-TSS">.theiaStickySidebar:after {content: ""; display: table; clear: both;}</style></head>
</head>
<body id="body" style="transform: none;">

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v6.0"></script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v6.0"></script>
	<!-- main -->

	<div id="home">
		<!-- top header -->
		<header>
			<div class="top-bar py-3">
				<div class="container">
					<div class="row">
						<div class="col-md top-social-agile text-lg-left text-center">
							<div class="row">
								<div class="col-md header-top_w3layouts">
									<p class="text-bl">
										<span class="fa fa-map-marker mr-2"></span>56 Avn de l’environnement<br> Gammarth 1057 La Marsa
									</p>
								</div>
								<div class="col-sm header-top_w3layouts">
									<p class="text-bl">
										<span class="fa fa-phone mr-2"></span>(+216) 71 919 211<br>
										<span class="fa fa-phone mr-2"></span>(+216) 97 912 770
									</p>
								</div>
							</div>
						</div>
						<div class="col-xl-7 col-lg-6 col-md-4 top-social-agile text-md-right text-center mt-md-0 mt-2">
							<div class="row">
								<div class="offset-xl-6 offset-lg-4">
								</div>
								<!-- social icons -->
								<ul class="col-4 top-right-info">
									<li>
										<a href="https://www.facebook.com/Laser-M%C3%A9dical-Gammarth-108944027216526/">
											<span class="fa fa-facebook-f"></span>
										</a>
									</li>
									<li class="mx-3">
										<a href="#">
											<span class="fa fa-twitter"></span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="fa fa-google-plus"></span>
										</a>
									</li>
									<li class="ml-3">
										<a href="#">
											<span class="fa fa-pinterest-p"></span>
										</a>
									</li>
								</ul>
								<!-- //social icons -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- //top header -->

		<!-- second header -->
		<div class="main-top" >
			<div class="container">
				<div id="navbar_top" class="header d-md-flex justify-content-between align-items-center py-3">

					<!-- logo -->
					<div id="logo">
						<h1>
							<a href="{% url 'index' %}">
								<img src="{% static 'images/logo.png' %}" width="64" alt="" class="d-inline-block align-middle mr-2">
								<span class="logo-sp">Laser Médical</span> Gammarth
							</a>
						</h1>
					</div>
					<!-- //logo -->
					<!-- nav -->
					<div class="nav_w3ls">
						<nav>
							<label for="drop" class="toggle">Menu</label>
							<input type="checkbox" id="drop" />
							<ul class="menu">
								
								<li><a href="{% url 'Article:liste-article' %}">Articles</a></li>
								<li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a href="{% url 'Materiel:ListeMateriels' %}">Matériels</a></li>
								<li><a href="{% url 'Service:ListeService' %}">Services</a></li>
									<li class="mx-lg-4 mx-md-3 my-md-0 my-2 dropdown show">
										<!-- First Tier Drop Down -->
										<a href="#" class="active dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Compte </span></a>
										<ul class="dropdown-menu bg-dark">
											{% if user.is_anonymous %}
												<li><a href="{% url 'account:register' %}" class="drop-text">S'Inscrire En Tant Que Patient</a></li>
												<li><a href="{% url 'account:register_doctor' %}" class="drop-text">S'Inscrire En Tant Que Docteur</a></li>
												<div class="dropdown-divider"></div>
												<li><a href="{% url 'account:login' %}">Se Connecter</a></li>
											{% endif %}
											{% if user.is_patient %}
												<li><a href="{% url 'account:profil_user' %}" class="drop-text">Profil</a></li>
												<li><a href="{% url 'Appointment:appointment-list' %}" class="drop-text">Hitorique RDV</a></li>
												<div class="dropdown-divider"></div>
												<li><a href="{% url 'account:logout' %}" class="drop-text">Se Déconnecter</a></li>
											{% endif %}
											{% if user.is_doctor %}
												<li><a href="{% url 'account:profil_doctor' %}" class="drop-text">Profil</a></li>
												<li><a href="{% url 'reservation:Reservation-list' %}" class="drop-text">Hitorique Réservations</a></li>
												<div class="dropdown-divider"></div>
												<li><a href="{% url 'account:logout_doctor' %}" class="drop-text">Se Déconnecter</a></li>
											{% endif %}
										</ul>
									</li>
									{% if user.is_patient or user.is_anonymous %}
										<li><a href="{% url 'Appointment:appointment' %}">Prendre RDV</a></li>
									{% endif %}
									{% if user.is_doctor and not user.is_admin %}
										<li><a href="{% url 'reservation:Reservation' %}">RSV Matériels</a></li>
									{% endif %}
									{% if user.is_admin %}
										<li><a href="{% url 'admin:index' %}">Dashboard</a></li>
									{% endif %}
									
							</ul>
						</nav>
					</div>
					<!-- //nav -->
				</div>
			</div>
		</div>
		<!-- //second header -->
		{% block banner %}
        	
		{% endblock %}
	</div>
	<!-- //main -->


<br>
<br>
{% block content %}

{% endblock content %}




	<!-- footer -->
	<footer class="py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="row">
				<div class="col-lg-7 w3l-footer">
					<!-- logo -->
					<div class="logo2">
						<h2>
							<a href="index.html">
								<img src="{% static 'images/logo.png' %}" width="64" alt="" class="d-inline-block align-middle mr-2">
								<span class="logo-sp">Laser Medical</span> Gammarth
							</a>
						</h2>
					</div>
					<!-- //logo -->
					<p class="mt-4 text-li">Centre de médecine esthétique.</p>
					<ul class="list-unstyled list-styles mt-lg-5 mt-4">
						<li>
							<p class="text-li"><span class="fa fa-location-arrow mr-2"></span>56 Avenue de l’environnement Gammarth 1057 La Marsa</p>
						</li>
						<li class="my-3">
							<p class="text-li"><span class="fa fa-phone mr-2"></span>1234567890</p>
						</li>
						<li>
							<a href="mailto:info@example.com" class="text-wh"><span class="fa fa-envelope-open mr-2"></span>mail@example.com</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-5 w3l-footer mt-lg-0 mt-5">
					<h3 class="mb-sm-4 mb-3 text-wh">Partners</h3>
					<ul class="list-unstyled list-part text-wh pt-lg-3">
						<li><span class="fa fa-500px" aria-hidden="true"></span></li>
						<li class="mx-4"><span class="fa fa-gg" aria-hidden="true"></span></li>
						<li><span class="fa fa-lastfm" aria-hidden="true"></span></li>
						<li class="mx-4"><span class="fa fa-openid" aria-hidden="true"></span></li>
						<li><span class="fa fa-angellist" aria-hidden="true"></span></li>
					</ul>
					<div class="n-right-w3ls mt-5 pt-lg-4">
						<h3 class="mb-sm-4 mb-3 text-wh">Newsletter</h3>
						<form action="#" method="post">
							<div class="row pt-2">
								<div class="col-8 form-group">
									<input class="form-control" type="email" name="Email" placeholder="Email Address" required="">
								</div>
								<div class="col-4 form-group p-sm-0 pl-0">
									<button class="form-control submit btn font-weight-bold" type="submit">Subscribe</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- //footer -->

	<!-- footer bottom -->
	<!-- copyright -->
	<div class="copy-w3pvt">
		<div class="container py-3">
			<div class="row">
				<div class="col-lg-7 w3ls_footer_grid1_left text-lg-left text-center">
					<p>&copy; 2020 Laser Medical Gammarth. All rights reserved | Design by
						<a href="https://www.facebook.com/Mahfoudh.Houssem">HMY</a>
					</p>
				</div>
				<div class="col-lg-5 w3ls_footer_grid_left1_pos text-lg-right text-center mt-lg-0 mt-2">
					<ul>
						<li>
							<a href="https://www.facebook.com/Laser-M%C3%A9dical-Gammarth-108944027216526/" class="facebook">
								<span class="fa fa-facebook-f mr-2"></span>Facebook</a>
						</li>
						<li class="mx-3">
							<a href="#" class="twitter">
								<span class="fa fa-twitter mr-2"></span>Twitter</a>
						</li>
						<li>
							<a href="#" class="google">
								<span class="fa fa-google-plus mr-2"></span>Google Plus</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- //copyright -->
	<!-- //footer bottom -->
	<!-- move top icon -->
	<a href="#home" class="move-top text-center"></a>
	<!-- //move top icon -->

</body>

</html>