{% load static %}
<!-- banner -->
		<div class="banner_w3lspvt">
			<div class="csslider infinity" id="slider1">
				<input type="radio" name="slides" checked="checked" id="slides_1" />
				<input type="radio" name="slides" id="slides_2" />
				<input type="radio" name="slides" id="slides_3" />
				<ul class="banner_slide_bg">
					<li class="banner-top1">
						<div class="container">
							<div class="banner-info_agile_w3ls text-center mx-auto">
								<h3 class="text-wh font-weight-bold">Providing extensive family Health care</h3>
								<a href="about.html" class="btn button-w3ls mt-5">Read More</a>
							</div>
						</div>
					</li>
					<li class="banner-top2">
						<div class="container">
							<div class="banner-info_agile_w3ls text-center mx-auto">
								<h3 class="text-wh font-weight-bold">Bringing Health to life for the whole family</h3>
								<a href="about.html" class="btn button-w3ls mt-5">Read More</a>
							</div>
						</div>
					</li>
					<li class="banner-top3">
						<div class="container">
							<div class="banner-info_agile_w3ls text-center mx-auto">
								<h3 class="text-wh font-weight-bold">The best Doctor gives the least Medicines</h3>
								<a href="about.html" class="btn button-w3ls mt-5">Read More</a>
							</div>
						</div>
					</li>
				</ul>
				<div class="navigation">
					<div>
						<label for="slides_1"></label>
						<label for="slides_2"></label>
						<label for="slides_3"></label>
					</div>
				</div>
			</div>
		</div>
		<!-- //banner -->